*{
    font-family: arial,tahoma;
    font-size: 20px;
    
}
.fristimg{
    text-align: center;
}
.fristimg img{
    width: 220px;
    height: 200px;
}
fieldset{
    width: 60%;
    text-align: center;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
legend{
    text-align: left;
    color: #333;
    
}
input[type="button"]{
    width: 120px;
    padding: 8px;
    background: #11aa70;
    border: 1px solid #90EE90;
    border-radius: 10px;
    color: #fff;
}
select{
    width: 100px;
    border-radius: 10px;
    font-size: 25px;
}
#divscontent{
    width: 100%;
}
#btncontent{
    
    text-align: center;
    margin-bottom: 50px;
    
}
 #btncontent input{
    margin-left: 10px;
     width: 100px;
     background: #f50;
     
}
#imgcontent{
    
    text-align: center;
    
}
 #imgcontent img{
    margin-left: 10px;
     
}
/***************************************************/
#aa{
  
    color: red;
    font-size: 20px;
    display: block;
    border: 2px solid red;
    padding: 10px;
    width: 200px;
    margin:20px auto;
}
.eventcontent{
    text-align: center;
    margin: auto;
    
}
.eventcontent #h3{
  
  font-size: 18px;
    
}